---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="stylesheet" href="{{ '/assets/css/news-ticker.css' | relative_url }}">
  </head>

  <div class="news-ticker-container">
    <div class="news-ticker-label">News:</div>
    <div class="news-ticker">
      <div class="news-ticker-content">
        <span class="news-item">
          <a href="https://www.cheme.washington.edu/news/article/2024-03-28/recruiting-robots-materials-discovery">Read UW ChemE's Story on our Self-driving Labs Work</a>
        </span>
        <span class="news-item">
          <a href="{{ '/facapp/' | relative_url }}">Explore my Faculty Application Package</a>
        </span>
      </div>
    </div>
  </div>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
